---
layout: default
title: blog
---


<!-- Banner -->
<div class="blog-innerpage-hero">
    <div class="div-block-33-copy-copy-copy">
      <h1 class="heading-7-copy-copy">Gofynd open projects</h1>
      <div class="text-block-23-copy-copy-copy">Open source projects for developers and engineers.</div>
    </div>
  </div>


<div class="blogcardinner">
    {% for post in site.categories.blog %}

    {% capture url_to_use %}{{ post.url" }}{% endcapture %}
    {% if post.redirect_url %}
      {% capture url_to_use %}{{ post.redirect_url" }}{% endcapture %}
    {% endif %}


        <div class="b_wrapperinner">

            <section class="b_container">
              <div class="div-block-94">
                  <div class="small-wcopy">By {{post.author}}<br></div>
                  <div class="text-block-16-copwwy-copy">{{post.blogdate}}</div>
              </div>
                <h3>{{ post.title }}</h3>
            </section>
            <section class="b_special">
                <a href="{{ url_to_use }}" class="view" target="_blank">READ BLOG</a>
            </section>
        </div>
    {% endfor %}
    </div>


<!----------------------------Start of Blog----------------
    <div class="content-pages" id="blog">
       <h6>Home > Blog</h6>

        <div class="post">
            <h3>How to create a single page application using react</h3>
            <h6>by Jigar Dafda</h6>
            <a href="#" id="post-view">View Post</a>
        </div>

        <div class="project">
          <h3>How to create a single page application using react</h3>
            <h6>by Jigar Dafda</h6>
            <a href="#" id="post-view">View Post</a>
        </div>

        <div class="project">
            <h3>How to create a single page application using react</h3>
            <h6>by Jigar Dafda</h6>
            <a href="#" id="post-view">View Post</a>
        </div>

        <div class="project">
            <h3>How to create a single page application using react</h3>
            <h6>by Jigar Dafda</h6>
            <a href="#" id="post-view">View Post</a>
        </div>

        <article class="project">
            <h3>How to create a single page application using react</h3>
            <h6>by Jigar Dafda</h6>
            <a href="#" id="post-view">View Post</a>
        </article>

        <div class="project">
            <h3>How to create a single page application using react</h3>
            <h6>by Jigar Dafda</h6>
            <a href="#" id="post-view">View Post</a>
        </div>

        <a href="#" id="posts-load">Load More Posts</a>
    </div>
<!----------------------------End of Blog---------------------------->
